doctype html
html
  head
    title Created Event Confirmation
  body
    h1 Hello #{user.name},
    h2 Your event has been created successfully!
    p Title: #{title}
    p Location: #{location}
    p Date: #{date}
    p Thanks be to God!
